@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");
body{
    margin: 0;
    font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
    background: #000404;
}



.web-logo{
    padding-left: -2000px;
}

#searchbar{
    background: #000404 url(./images/icon-search.svg) no-repeat 9px 9px;
    padding: 4px 30px;
    width: 250px;
    height: 28px;
    font-size: .85em;
    font-weight: bold;
    border: 2px solid rgb(44, 42, 42);
  border-radius: 20px;
  color: #919191;
  font-family: inherit;
    
}
.navsearch{
    border: 2px solid #333;
    border-radius: 20px;
  
}
#text{
    padding-top: 12px;
    color: rgb(102, 102, 102);
}

.carousel-caption{
    text-align: center;
    /* margin: 10px; */
    /* margin-bottom: 40px; */
    
    
}

h2{
    text-shadow: 2px 2px #f5eded00;
    font-weight: bold;
}

/* .carousel-item{
    height: 150px;
} */

@media screen and (max-width: 560px) {
   
    h2{
        font-size: 10px;
    }
    .logo-imdb{
        width: 30px;
    }
    .fa{
        font-size: 10px;
        
    }
    .btn{
        width: 60px;
    }
    .btn-text{
       font-size: 10px;
    }
    

  }
  @media screen and (max-width: 560px){
    .carousel-caption{
        /* height: 100px; */
        /* width:700px ; */
        
        /* margin-top: 100px; */
        /* margin-bottom: 10px; */
    }
    /* .dbtn{
        padding-top: -10px;
    } */
  }

.card-body{
    
}
.card-title{
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.down-link{
    border: 2px solid rgb(80, 79, 79);
    padding: 5px 12px;
    text-decoration: none;
    color: rgb(16, 224, 79);
    background: #000404;
}

.card{
    background-image: url(./images/thorbackground.png);
    cursor: pointer;
}
.card-text{
    color: #acadac;
}

/* 3 card  */

.card-footer{
 color: #acadac;
}

/* @media screen and (max-width: 1116px){
.cfd{
    content: "\f019";
.cfw{
    display: none;
}
} */

@media screen and (max-width: 1116px) {
    /* Hide the button text */
    .cfd {
      font-size: 0; /* Set font size to 0 */
      padding: 10px; /* Adjust padding */
    }

    /* Show icon after hiding button text */
    .cfd::after {
        content: url("./images/download-solid\ \(2\).svg"); /* Unicode for font-awesome icon, adjust accordingly */
      font-family: FontAwesome; /* Font family for the icon */
      font-size: 16px; /* Adjust icon size */
      margin-left: 5px; /* Adjust space between icon and button */
    }



    .cfw {
        font-size: 0; /* Set font size to 0 */
        padding: 10px; /* Adjust padding */
      }
  
      /* Show icon after hiding button text */
      .cfw::after {
          content: url("./images/tv-solid.svg"); /* Unicode for font-awesome icon, adjust accordingly */
        font-family: FontAwesome; /* Font family for the icon */
        font-size: 16px; /* Adjust icon size */
        margin-left: 5px; /* Adjust space between icon and button */
      }
}   



.card:hover{
    box-shadow: 5px 5px 5px rgba(41, 40, 40, 0.5); 
    transform: scale(1.025);
}

.car{
    background: rgb(0, 6, 17);
}


.links a {
    color: rgb(177, 168, 168); /* Change the color to whatever you prefer */
    text-decoration: none; /* Remove the underline */
}

h5{
    color: rgb(92, 177, 66);
}